<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

          </p>
          {% endif %}

          
        </div>

      </div>
    
      <a class="section-jump text-center" href="#details">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
<div class="sd-container summary">
  <div class="col one">
    {% for sc in site.data.sched %}
     <h3>{{ sc.time}}</h3> 
     <p>{{ sc.description }}</p>
   {% endfor %}
  </div>
  <div class="col two">
  Map + QR Code
</div>
<div class="col three">
  image here
  Tufts University libraries staff day
  Wednesday, July 15, 2026
Joyce Cummings Center
Medford/Somerville campus
</div>
</div>