
  <div class="talk-class">
  <span class="type">{{ talk.type }}</span>
  <span class="time">{{ talk.time }}</span>
  <span class="room"> Room {{ talk.room }} </span>
  {% if talk.type != 'lightning talks' %}
    <h4 class="title">{{ talk.title }}</h4>
  {% endif %}
    <span class="pres">{{talk.presenter}}</span>
   {% if talk.description %}
   <div class="descrip">{{ talk.description }}</div>
    {% endif %}
    {% if talk.type == 'lightning talks' %} 
       {% for lt in talk.ltalks %}
         <span class="lt-title">{{ lt.ltitle }}</span>
         {% if lt.lpresenter %}
        <span class="pres"> {{ lt.lpresenter }}</span>
        {% endif %}
        {% if lt.ldesc %}
        <details>{{ lt.ldesc }}</details>
        {% endif %}
       {% endfor %}
    {% endif %}
  
</div>
