<tr>

    <td class="time">
      {{ include.start }}
    </td>
    <td class="talk-block">
      {% for talk in site.data.talks %}
     {% assign time_start = talk.time | split: ' - ' | first %}
      {% if talk.room == "one" and time_start == {{include.start}} %}
        {% include talk-content.html %}
      {% endif %}
    {% endfor %}
    </td>

       <td class="time">
      {{ include.start }}
    </td>
    <td class="talk-block">
      {% for talk in site.data.talks %}
      {% assign time_start = talk.time | split: ' - ' | first %}
      {% if talk.room == "two" and time_start == {{include.start}} %}
        {% include talk-content.html %}
      {% endif %}
    {% endfor %}
      </td>
  <td class="time third">
      {{ include.start }}
    </td>
    <td class="third talk-block">
    {% for talk in site.data.talks %}
    {% assign time_start = talk.time | split: ' - ' | first %}
      {% if talk.room == "three" and time_start == {{include.start}}  %}
        {% include talk-content.html %}
      {% endif %}
    {% endfor %}
  </td>
</tr>