$din: "din-2014", sans-serif;
$header-serif: "itc-giovanni", serif;

.sd-row{
    width: 100vw;
    overflow-x: hidden; 
    padding-bottom: 2em;
}
.sd-row.blue{
  background-color: #c8d5e2;

}
.sd-row.offwhite{
  background-color: #fbfaf4;
}
.sd-row.tan{
  background-color: #f0e4df;
}
html, body{
    overflow-x: hidden; 
}
.navbar{
  background-color: black;
  color: white;
  a{
    color: white;
  }
}
.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:visited{
  color: white;

}

.sd-head{
  padding-top: 4em;
  //background-image: url("../img/historical_lib_staff.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;

}
#overview{
   font-family: $din;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    h2{
      text-align: center;
    }
     p{
      font-style: italic;
    }
    .full-schedule{
      text-align: center;
      padding: 1em 2em;
      a, a:hover, a:visited{
        color: black;
        text-decoration: underline;
      }
    }
    .map{
      h2{
        padding: 0 2em;
      }
      svg{
        height: 30em;
        border: 1px solid  #f0e4df;
      }
    }
}


.time-slot:not(h3){
  font-style: italic;
}
h1.stitle, .site-descrip{
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  font-family: $header-serif;
  @media all and (min-width: 960px){
    //width: 50%;
  }
}
h2{
  font-family: $header-serif;
}
.site-descrip{
  margin-top: -1em;
  line-height: 1.4;
}

img{
  border-radius: 0.25em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
figure{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
figcaption{
  font-size: smaller;
  padding: 0.25em 0.5em;
}
h1, h2, h3, h4, h5, h6{
  font-family: $header-serif;
}
.rheader{
  color: #4f4f4f;
  border-bottom: 1px solid black;
}
#talk-details{
   max-width: 1600px;
   margin-top: 5em;
   padding-top: 1em;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1em;
    font-family: $din;
    h2{
      text-align: center;
      font-family: $header-serif;
    }
    .mobile-talk{
      @media all and (min-width: 961px){
        display: none;
      }
    }
    .mobile-title{
      font-weight: bold;
      font-size: 1.5em;
      margin-top: 2em;
    }
    .room{
      display: block;
      @media all and (min-width: 960px){
        display: none;
      }
    }
    table{
      width: 100%;
      @media all and (max-width: 960px){
       display: none;
      }
       border-collapse: separate; /* Required for spacing to work */
       border-spacing: 30px 5px;  
       caption{
        visibility: hidden;
       }
    }
    
    th{
      width: 30%;
      padding-left: 1em;
      margin-right: 2em;
      h3{
        //border-bottom: 1px solid black;
      }
    }
    th:nth-of-type(2){
      width: 33%;
    }
    th:nth-of-type(3){
      padding-left: 2em;
    }
    td{
      vertical-align: top;
    }
    .talk-block{
        background-color: #91b2d3;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        margin-bottom: 1em;

    }
    tr{
      margin-left: 0.5em;
      //margin-right: 2em;
    }
    td.time{
      padding-left: 1em;
      //padding-right: 0.5em;
    }
    td.time.third{
      padding-left: 2.25em;
    }
    h4.title{
      font-size: 1.15em;
      font-weight: bold;
      font-family: $din;
    }
    .lt-title{
      font-weight: bold;
    }
    .pres{
      display: block;
      font-style: italic;
    }
    .lt-title{
     font-weight: bold;
    }
    details{
      margin-bottom: 1em;
    }
    .type{
      display: block;
      font-style: italic;
    }
    
  
}
.talk-block{
  @media all and (max-width: 960px){
    margin-right: 1em;
  }
}
footer.site-footer{
    background-color: #222;
    .row{
        background-color: #222;
    }
    margin-top: 0;
  }
