{% include header.html %}

    {% if site.title != '' %}
 <div  class="sd-row blue">
    <div class="sd-head">
          <h1 class="text-center stitle">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center site-descrip">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

          </p>
          {% endif %}
      </div>    
      <figure>
  <img src="img/historical_lib_staff.jpg" alt="Tufts library staff from 1924" />
  <figcaption>The library staff, including Blanche H. Hooper, Ethel M. Hayes, and two unidentified women, September 11,
tufts:MS036.001.009.00001.03465. Tufts Archival Research Center</figcaption>
</figure>

</div>   
<div class="sd-row offwhite">
    <div id="overview">
<!--<a class="section-jump text-center" href="#talk-details">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>-->
  <div class="full-schedule">
    <h2>Full Schedule</h2>
    <div class="rheader">Room # {{site.data.rooms.main_room}}</div>
    {% for sc in site.data.sched %}
     <h3>{{ sc.time}}</h3> 
     <p>
     
     <p>
       {% if sc.link %}
          <a href={{sc.link}}>{{ sc.description }}</a>
      {% else %}
      {{ sc.description }}
      {% endif %}
    </p>
     
     
   {% endfor %}
  </div>
  <div class="map">
    <h2>Map of JCC</h2>
  <a href="map" target="_blank">{% include JCCmap.svg %}</a> 

</a>
</div>

</div>
</div> 
<div class="sd-row tan">
    <main id="talk-details">
      <h2>Workshop, Presentations, and Lightning Talks</h2>
      <div class="mobile-talk">
         {% assign ttype = "mobile-talk" %}
        {% include talk-includes.html type=ttype %}
        

       
      </div>
      <table class="talk">
        <caption style="display: visually-hidden;">Talk details</caption>
        <thead>

        <th colspan="2"><h3>Room 1</h3>
          <div class="rheader">Room # {{site.data.rooms.first_room}}</div></th>
        <th colspan="2"><h3>Room 2</h3><div class="rheader">Room # {{site.data.rooms.second_room}}</div></th>
        <th colspan="2"><h3>Room 3</h3><div class="rheader">Room # {{site.data.rooms.third_room}}</div></th>

    </thead>
         {% assign ttype = "talk-row" %}
        {% include talk-includes.html type=ttype %}

            </table>

    </main>
</div>
{% include footer.html %}
