{% include header.html %}

    {% include home-hero.html %}
<div class="sd-container">
<div class="col one">
  Full Program
</div>
<div class="col two">
  Map + QR Code
</div>
<div class="col three">
  image here
  Tufts University libraries staff day
  Wednesday, July 15, 2026
Joyce Cummings Center
Medford/Somerville campus
</div>
</div>
    <main id="portfolio">
      <div class="sd-container">

            
              <div class="col one">
                <h2>Room One</h2>
                 {% for talk in site.data.talks %}
                  {% if talk.room == "one" %}
                    {% include talk-content.html %}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="col two">
                 <h2>Room Two</h2>
                 {% for talk in site.data.talks %}
                  {% if talk.room == "two" %}
                    {% include talk-content.html %}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="col three">
                 <h2>Room Three</h2>
                {% for talk in site.data.talks %}
                  {% if talk.room == "three" %}
                    {% include talk-content.html %}
                  {% endif %}
                {% endfor %}
              </div>

      </div>
    </main>

{% include footer.html %}
